<html lang="en">
	{{> head judul="Index"}}
	<body>
		<div class="main-content">
			{{> header}}
			<p>Selamat datang di halaman utama aplikasi web server kami!</p>
		</div>
		{{> footer}}
	</body>
</html>
