<html lang="en">
	{{> head judul="About"}}
	<body>
		<div class="main-content">
			{{> header}}
			<img class="portrait" src="/img/gambar.jpg" alt="Gambar tentang" />
		</div>
		{{> footer}}
	</body>
</html>
